
footer > .ul {
    display: flex;
    flex-wrap: wrap;
}

#logo-ul, #contact2-ul {
    flex: 1 0 200px;
}

#contact1-ul {
    flex: 1 0 250px;
}

#form-ul {
    flex: 5 0 300px;
}


footer > .ul > * {
    height: 140px !important;
    margin: 0 10px;
}

footer > .ul > .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-ul > div {
    font-size: 1.2em;
}

#logo {
    height: 100px;
    width: 100px;
    margin: 5px 0 0 0;
}

#contact1-ul > ul {
    margin-top: 24px;
}

#contact2-ul .svg {
    display: none;
}

#contact2-ul li {
    padding: 0;
}

#contact2-ul .icon {
    width: 40px;
    height: 40px;
    margin: 20px 5px;
}

#form {
    width: 90%;
    display: flex;
}

#form textarea {
    resize: none;
    margin: 5px 0 0 0;
    width: 100%;
    height: 90px;

    border: none;
    padding: 5px 15px;
}

#form textarea:focus {
    outline: none;
}

#form button {
    width: 0;
    height: 0;

    border-radius: 15px;

    position: relative;
    top: -5px;
    z-index: 1;

    outline: none;
    transition: all 0.3s ease-in-out;
}

#reset {
    left: 14px;
    border: 15px solid rgba(255, 0, 0, 0.56);
}

#submit {
    left: -14px;
    border: 15px solid #75d8ff;
}

#reset:hover {
    border: 15px solid rgb(255, 0, 0);
    box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.7);
}

#submit:hover {
    border: 15px solid #00abff;
    box-shadow: 0 0 10px 1px rgba(0, 171, 255, 0.7);
}

#reset-svg {
    width: 20px;
    height: 20px;

    position: relative;
    top: -10px;
    left: -10px;
}

#submit-svg {
    width: 20px;
    height: 20px;

    position: relative;
    top: -9px;
    left: -11px;
}